<div class="col-md-6">
    <h2 class="text-center">Grade</h2>
  <form>
    <div class="form-group">
        <label for="firstName">Name:</label>
        <!-- <output [(ngModel)]="name" placeholder="First Name" name="firstName" class="form-control" id="firstName"> -->
    </div>
  
    <div class="form-group">
        <label for="grade">Grade:</label>
        <input [(ngModel)]="grade" placeholder="Grade" name="grade" class="form-control" id="grade">
    </div>
  
    
    <button class="btn btn-success" (click)="setgrade()">Submit</button>
  </form>
  </div>
  
  