<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h1">Timetable List</h1>
        <input type="button" value="Create Timetable" [routerLink]="['/timetables/add-timetable']" class="btn">
        <br><br>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr style="position: sticky">
            <th>Class Room</th>
            <th>Day</th>
            <th>Time</th>
            <th>Lesson</th>
            <th>Student Group</th>
            <th>Teacher</th>
            <th colspan="2" style="text-align:center">Options</th>
  
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tt of arrtimetable">
            <td >{{tt.classid.name}}</td>

            <td *ngIf="tt.day==0">Saturday</td>
            <td *ngIf="tt.day==1">Sunday</td>
            <td *ngIf="tt.day==2">Monday</td>
            <td *ngIf="tt.day==3">Tuesday</td>
            <td *ngIf="tt.day==4">Wednesday</td>
            <td *ngIf="tt.day==5">Thursday</td>
            <td *ngIf="tt.day==6">Friday</td>

            <td *ngIf="tt.time==0">8-10</td>
            <td *ngIf="tt.time==1">10-12</td>
            <td *ngIf="tt.time==2">13-15</td>
            <td *ngIf="tt.time==3">15-17</td>
            <td *ngIf="tt.time==4">17-19</td>


            <td>{{tt.lessonid.name}}</td>
            <td>{{tt.studentgroupid.name}}</td>
            <td>{{tt.teacherid.name}}</td>
            <td><button class="btn btn-warning" (click)="editUser(tt.id)">Edit student</button></td>
            <td><button class="btn btn-danger" (click)="deleteUser(tt.id)">Delete User</button></td>
  
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  <router-outlet></router-outlet>